{% block content %}
<html>
<head>
    <title>Buy Item {{ product.id }}</title>
</head>
<body>
<h1>Item {{ product.id }}</h1>
<p>Description of Item {{ product.id }}</p>
<p>{{ product.description }}</p>
<button id="buy-button">Buy</button>
<script src="https://js.stripe.com/v3/"></script>
<script type="text/javascript">
      const stripe = Stripe("{{ STRIPE_PUBLIC_KEY }}");
      var buyButton = document.getElementById("buy-button");
        buyButton.addEventListener('click', function() {
    fetch("{% url 'buy' product.id %}", {method: 'GET'})
    .then((result) => { return result.json(); })
    .then((data) => {
            console.log(data);
            // Redirect to Stripe Checkout
            return stripe.redirectToCheckout({sessionId: data.sessionId})
          })
          });

    </script>
</body>
</html>
{% endblock %}